
.order-on-the-way {
  min-height: 50vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wall-of-love {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  padding-top: 20px;
  margin-bottom: 50px;
}
.wall-of-love h1 {
  text-align: left;
  padding: 0;
  margin: 5px 0;
  height: 300px;
  width: 330px;
  line-height: 1.5;
  width: 300px;
  height: 295px;
  padding: 20px;
}

hr {
  width: 60%;
  margin-bottom: 60px;
}
