.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 40px 20px 20px; ;
  box-sizing: border-box;
}

.login-page h1 {
  color: #213547;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
}

.login-page form {
  display: flex;
  flex-direction: column;
}

.login-page label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #606770;
}

.login-page input {
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  outline: none;
  margin-bottom: 12px;
  font-size: 16px;
}

.login-page input:focus {
  border-color: #0768e8;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.login-page p {
  margin-top: 20px;
  font-size: 14px;
  color: #606770;
  text-align: center;
}

.login-page a {
  text-decoration: none;
  font-weight: bold;
}

.login-page a:hover {
  text-decoration: underline;
}

.login-page button {
  margin-top: 20px;
}

.error-message {
  color: #ff0000;
  margin-top: 20px;
  text-align: center;
}

/* Landscape phone to portrait tablet */
@media (min-width: 560px) and (max-width: 1024px) {
  .login-form {
    max-width: 400px;
  }
  
  .login-page h1 {
    font-size: 2.2rem;
  }

  .login-page {
    padding-top: 60px;
  }
}

/* Landscape tablet */
@media (min-width: 1025px) {
  .login-form {
    max-width: 450px;
  }
  
  .login-page h1 {
    font-size: 2.5rem;
  }
  
  .login-page {
    padding-top: 80px;
  }
}

/* Laptop desktop */
@media (min-width: 1400px) {
  .login-form {
    max-width: 500px;
  }
  
  .login-page h1 {
    font-size: 2.8rem;
  }
  
  .login-page {
    padding-top: 80px;
  }
}

/* Medium screen */
@media (min-width: 1800px) {
  .login-form {
    max-width: 550px;
  }
  
  .login-page h1 {
    font-size: 3rem;
  }
  
  .login-page {
    padding-top: 150px;
  }
}

/* Large screen */
@media (min-width: 2200px) {
  .login-form {
    max-width: 600px;
  }
  
  .login-page h1 {
    font-size: 3.2rem;
  }
  
  .login-page {
    padding-top: 150px;
  }
}