.footer {
  color: #242424;
  /* color: rgba(255, 255, 255, 0.87); */
  min-height: 8vh;
  /* box-shadow: 0px -1px 5px #242424; */
  border-top: 1.4px solid #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer p{
  font-size: 9px;
}

.footer a {
  margin-top: 3px;
  margin-left: 15px;
}

#rights-reserved {
  font-weight: 500;
}

/* Landscape tablet to laptop desktop*/
@media (min-width: 1025px) {
  .footer p{
    font-size: 14px;
    margin: 0 10px 0 10px;
  }
}
/* Medium screen to large screens*/
@media (min-width: 1800px) {
  .footer p{
    font-size: 18px;
    margin: 0 45px 0 25px;
  }
}