.home-page-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.headers {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  text-align: left;
  width: 40%;
  min-height: 40vh;
}
.headers h1{
    margin: 4px;
}
.headers p{
    font-size: 20px;
    margin: 4px;
}

.carousel {
  border: 1px solid black;
  width: 60%;
}
